.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-pref-width: 10;
}

.scroll-bar:horizontal {
    -fx-pref-height: 8;
}

.scroll-bar .thumb {
    -fx-background-color: #3C507D;
    -fx-background-radius: 10;

}

.scroll-bar .thumb:hover {
    -fx-background-color: #E0C58F;

}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-pref-width: 11;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}



.nav-button {
    -fx-font-family: 'Bison Bold';
    -fx-font-size: 20px;
    -fx-text-fill: #7b7875;
    -fx-background-color: transparent;
}

.nav-button:hover {
    -fx-text-fill: #F5F0E9;
    -fx-background-color: #7b7875;
}


.nav-button.active {
    -fx-text-fill: #112250;
    -fx-font-weight: bold;
}


.icon-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.icon-button:hover {
    -fx-background-color: rgba(60, 80, 125, 0.1);
    -fx-background-radius: 50%;
}


.search-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #e8dfd5;
    -fx-border-width: 2;
}
.drag-area-default {
    -fx-background-color: #F5F0E940;
    -fx-border-color: #E0C58F;
    -fx-border-width: 4;
    -fx-border-radius: 20;
    -fx-border-style: dashed;
}

.drag-area-hover {
    -fx-border-color: #4CAF50;
    -fx-background-color: #e8f5e9;
}

.drag-area-exit {
    -fx-border-color: #E0C58F;
    -fx-background-color: #F5F0E940;
}
